# Core functionality - changes here should be rare!
/src/app.py                   @SamuelChandraS
/src/backend/database.py      @SamuelChandraS
/src/backend/routers/auth.py  @SamuelChandraS

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SamuelChandraS
